<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.docker.containermanager"
          name="Container Manager"
          class="QmitkContainerManagerView"
          category="Docker"
          icon="resources/docker-icon.svg" />
  </extension>
</plugin>
